.book-form input,
.book-form textarea {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 2.5vh 1vh;
}

.book-form {
    font-size: 1.2rem;
    width: 80%;
    background-color: rgba(154, 219, 203, 0.829);
    padding: 4vh;
    margin: 16vh auto;
    -webkit-box-shadow: -1px 2px 21px 6px rgba(99, 169, 150, 0.73);
    -moz-box-shadow: -1px 2px 21px 6px rgba(99, 169, 150, 0.73);
    box-shadow: -1px 2px 21px 6px rgba(99, 169, 150, 0.73);
}

.book-form h2 {
    text-align: center;
}

.books-form-questions {
    margin: 0 auto;
    width: 90%;
}

.error-msg-book-form {
    color: orangered;
    padding-bottom: 2vh;
}

.book-form div {
    padding: 1vh 0;
}

.book-form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    padding: auto 0.3vw;
    margin: auto 0.4vw;
}

.book-form input[type="radio"] {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    padding: auto 0.3vw;
    margin: auto 0.4vw;
}

label {
    font-size: 1.2rem;
    display: block;
}

textarea {
    height: 20vh;
}

.book-form button {
    display: block;
    margin: 5vh auto 0 auto;
    padding: 2vh;
    width: 10vw;
    font-size: 1.3rem;
    font-family: inherit;
    background-color: rgb(84, 187, 178);
    color: white;
    border: none;
    cursor: pointer;
}

.form-btns {
    display: flex;
    justify-content: space-around;
}


/* scroll bar */


/* width */

::-webkit-scrollbar {
    width: 10px;
    margin-top: 5rem;
}


/* Track */

::-webkit-scrollbar-track {
    background: #e6e7ff;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #78ced1;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #38384a;
}