// https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
.UsersTable {
    width: 95%;
    margin: 0 auto;
    table {
        margin-top: 10px;
        border-collapse: collapse;
        width: 100%;
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #41c4a1;
            color: white;
        }
        td,
        th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
    }
}