input {
    width: 200px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    height: 2rem;
}

select {
    width: 200px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    height: 2rem;
}